[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "codewhere"]
	path = codewhere
	url = https://github.com/thisisnic/codewhere
[submodule "speechmatics"]
	path = speechmatics
	url = https://github.com/thisisnic/speechmatics
